Flask==2.3.3
gunicorn==20.1.0
pandas==1.5.3
numpy==1.23.5
qrcode==7.4.2
reportlab==3.6.12
fpdf==1.7.2
requests==2.31.0
oauthlib==3.2.2
google-auth==2.20.0
google-auth-oauthlib==1.0.0
gspread==5.7.2
httplib2==0.22.0
rsa==4.9
python-dateutil==2.8.2
pytz==2023.3
werkzeug==2.3.6
jinja2==3.1.2
